.header {
  display: flex;
  height: 40px;
  padding: 10px;
  backdrop-filter: blur(2px);
  color: white;
  position: relative;
  font-size: 16px;
  font-style: inherit;
  z-index: 5;
}
.logo {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.logo img, .logo-link img {
  max-height: 40px;
  width: 100%;
}
.logo-link {
  display: none;
  height: 40px;
  cursor: pointer;
  align-items: center;
  font-size: 24px;
}
.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 60dvw;
  margin: 0 auto 0;
  height: 100%;
}
.link:first-child {
  min-width: 64px;
}
.menu {
  display: none;
}
.menu-content {
  display: none;
  margin: 10px auto;
  flex-direction: column;
}
.menu-link-active {
  color: #FF39F7;
}
.highlighted-link {
  border-bottom: 4px solid #FF39F7;
}
.links > :not(.highlighted-link, .login, mat-icon, .menu, .logo-link, .logo) {
  border-bottom: 4px solid #d9d9d9;
}
.link, .menu-link {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10dvw;
  margin: 0 0;
  cursor: pointer;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 40%;
  cursor: pointer;
  gap: 5px;
}
.login span {
  display: inline-block;
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
  .logo-link {
    display: flex;
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
  .link {
    width: 20dvw;
  }
  .login, .menu {
    position: inherit;
    margin-bottom: -4px;
  }
}
@media (max-width: 500px) {
  .logo-link {
    display: flex;
    left: calc(50% - 60px);
    top: 10px;
    position: absolute;
  }
  .links {
    width: 100%;
  }
  .link {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu-content {
    display: block;
  }
  .menu-link {
    width: 100%;
  }
  .menu-link:before {
    margin-right: 10px;
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50px;
  }
  .menu-link:before {
    background: #d9d9d9;
  }
  .menu-link-active:before {
    background: #FF39F7;
  }
  .header-opened {
    flex-direction: column;
  }
  .header-opened > * {
    display: block;
  }
}
