<div class="header" [ngClass]="menuSwitcher ? 'header-opened' : ''" [ngStyle]="menuSwitcher ? {height: 'auto'} : {}">
  <div class="links">
    <div
      class="link"
      *ngFor="let link of links"
      [routerLink]="link.src"
      routerLinkActive="highlighted-link"
    ><span>{{link.name}}</span></div>

    <div class="menu">
      <mat-icon (click)="menuSwitcher = !menuSwitcher">menu</mat-icon>
      <div class="menu-content" *ngIf="menuSwitcher">
        <div
          class="menu-link"
          *ngFor="let link of links"
          [routerLink]="link.src"
          routerLinkActive="menu-link-active"
        ><span>{{link.name}}</span></div>
      </div>
      </div>
    <div
      class="login"
      [routerLink]="'login'"
      routerLinkActive="menu-link-active"
      *ngIf="!isAuth">
      <span
        *ngIf="menuSwitcher || window.innerWidth > 600"
      >Увійти</span>
      <mat-icon>person</mat-icon>
    </div>
    <div class="logout login" routerLinkActive="menu-link-active" *ngIf="isAuth" (click)="onLogout()">
      <span
        *ngIf="menuSwitcher || window.innerWidth > 600"
      >Вийти</span>
      <mat-icon>logout</mat-icon>
    </div>
  </div>
</div>
