<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card xmlns="http://www.w3.org/1999/html" *ngIf="!isLoading">
  <form #regForm="ngForm" (ngSubmit)="onLogin(regForm)">
    <mat-card-header>
      <mat-card-title>Вхід</mat-card-title>
      <mat-card-subtitle>Будь ласка, <a [routerLink]="['/', 'registration']">зареєструйтеся</a>, якщо ви тут вперше</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Пошта</mat-label>
        <input
          matInput
          type="email"
          name="email"
          ngModel
          required
          email
          #email = "ngModel">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Неправильна пошта
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Введiть пошту
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          ngModel
          required
        #password="ngModel">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Сховати пароль'">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">
          Ведiть пароль
        </mat-error>
      </mat-form-field>
      <a [routerLink]="['/', 'recover']">Змiнити пароль</a>
    </mat-card-content>
    <mat-card-actions>
      <button class="loginButton" mat-raised-button type="submit" color="primary">Увійти</button>
    </mat-card-actions>
  </form>
</mat-card>
