<mat-card xmlns="http://www.w3.org/1999/html">
  <form #f="ngForm" (ngSubmit)="onRecover(f)" *ngIf="!token">
    <mat-card-header>
      <mat-card-title>Password reset</mat-card-title>
      <mat-card-subtitle>Please, enter email, we will send instructions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          ngModel
          required
          email
          #email = "ngModel">
        <mat-error *ngIf="email.hasError('required')">
          Email required
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="register-button" mat-raised-button type="submit" color="primary">Reset</button>
    </mat-card-actions>
  </form>
  <form #f="ngForm" (ngSubmit)="onPasswordChange(f)" *ngIf="token">
    <mat-card-header>
      <mat-card-title>Password change</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          [type]="hide1 ? 'password' : 'text'"
          name="password"
          ngModel
          required
          #password = "ngModel">
        <button mat-icon-button matSuffix type="button" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">
          Password required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          name="passwordRepeat"
          ngModel
          required
          [appSamePasswords]="password"
          #passwordRepeat = "ngModel">
        <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordRepeat.hasError('required')">
          Password required
        </mat-error>
        <mat-error
          *ngIf="passwordRepeat.hasError('notSamePass') &&
             password.hasError('notSamePass') &&
             !passwordRepeat.hasError('required')">
          Passwords are not same
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="register-button" mat-raised-button type="submit" color="primary">Set</button>
    </mat-card-actions>
  </form>
</mat-card>
