mat-card {
  margin: 50px auto;
  width: 50vw;
  max-width: 500px;
  background: #efefef;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.activation-image img{
  height: 128px;
  width: 128px;
}

@media (max-width: 300px) {
  .activation-image img {
    width: 64px;
    height: 64px;
  }
  mat-card span {
    width: 50%;
    text-align: center;
  }
}
