<mat-card *ngIf="isActivated">
  <div class="activation-image">
    <img [src]="activationDonePath" alt="Аккаунт активовано">
  </div>
  <span>
    Аккаунт активовано
  </span>
  <button mat-raised-button color="primary" [routerLink]="['/', 'categories']">До каталогу</button>
</mat-card>
<mat-card *ngIf="isActivated === undefined">
  <div class="activation-image">
    <mat-spinner></mat-spinner>
  </div>
  <span>
    Перевiрка...
  </span>
</mat-card>
<mat-card *ngIf="!isActivated && isActivated !== undefined">
  <div class="activation-image">
    <img [src]="activationFailedPath" alt="Аккаунт не активовано">
  </div>
  <span>
    Посилання недiйсне
  </span>
</mat-card>
