<div class="about">
  <div class="card-wrapper">
    <mat-card>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi at atque corporis delectus ipsam laborum magni nemo nihil pariatur provident quae quam rerum sequi, tenetur ullam, vitae voluptas. Eum?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, culpa eligendi error ex hic id iste libero magnam natus officiis omnis possimus praesentium quasi, repellat sequi sunt unde vitae voluptate?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga id illo perspiciatis quaerat quia! A cupiditate, dolores ea eligendi id maxime nemo nesciunt officiis, provident qui sequi voluptatem voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut consequuntur dolor dolorum eos facilis hic molestiae obcaecati omnis perspiciatis placeat possimus qui sequi suscipit tempore temporibus unde voluptas, voluptatibus!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
