.about {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/about.jpeg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-position: center top;
}
.card-wrapper {
  height: 100dvh;
  margin: 0;
}
mat-card {
  width: 75dvw;
  max-width: 1200px;
  margin: 15px auto;
  font-size: 14px;
  border-radius: 1rem;
  background: rgba(217, 217, 217, 0.75);
}
.img-wrap img{
  width: 100%;
}
.img-wrap {
  float: left;
  width: 20dvw;
  max-width: 350px;
  margin: 15px;
}
mat-card-content p, ul {
  text-shadow: 1px 1px 2px pink;
  font-size: 24px;
  text-align: justify;
}
ul {
  font-size: 18px;
  padding-left: 10px;
  list-style-type: '—';
}
li {
  margin: 10px;
}

@media (max-width: 600px) {
  .img-wrap{
    width: calc(100% - 30px);
  }
}
