<div class="order-description">
  <div class="order-image">
    <img [src]="'data:image/png;base64, ' + order.coatModel.image" [alt]="order.coatModel" *ngIf="order">
  </div>
  <div class="status-changer">
    <button mat-raised-button *ngIf="order?.status === 'PENDING'" color="primary" (click)="onAssignOrder(order.id)"><mat-icon>check</mat-icon> | <span>Прийняти замовлення</span></button>
    <button mat-raised-button *ngIf="order?.status === 'IN_PROGRESS'" [ngStyle]="{background: 'green', color: 'white'}"><mat-icon>done_all</mat-icon> | <span>Завершити замовлення</span></button>
  </div>
</div>
<app-calculator></app-calculator>
