<mat-card>
  <mat-card-header>Данi працiвника</mat-card-header>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading" [ngStyle]="{margin: '0 auto'}"></mat-spinner>
    <div class="employee-data" *ngIf="!isLoading">
      <div class="employee-field" *ngFor="let field of employeeFields">
        <span>{{field.fieldNameTranslation}}</span>
        <span>{{field.fieldValue}}</span>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isLoading">
    <button mat-raised-button color="warn" (click)="onDeleteEmployee()"><mat-icon>close</mat-icon>Звiльнити</button>
  </mat-card-actions>
</mat-card>

