.categories-wrapper {
  //width: 90%;
  margin: 25px auto;
  max-width: 1200px;
  padding: 10px;
}
.categories-flex {
  display: flex;
  margin: auto;
  gap: 10px;
  width: 90%;
  max-width: 1200px;
}
.categories-flex a{
  text-decoration: none;
  color: black;
}
.category {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  transition: transform 0.2s;
}
.category-image {
  position: relative;
}
.category-image img {
  max-width: 90%;
  pointer-events: none;
  z-index: 10;
}
.category:not(.selected):hover{
  transform: scale(1.03);
}
.selected {
  transform: scale(1.05);
  cursor: default;
}
.selected img {
  box-shadow: 0 0 12px 4px #1f1fdc;
}
