<div *ngIf="category">
  <div class="category-images">
    <div class="models-grid">
      <div
        class="model"
        *ngFor="let model of category.models"
        [ngClass]="{selected: selectedModel.name === model.name}"
        (click)="onModelSelect(model)"
      >
        <img [src]="'data:image/png;base64, ' + model.image" [alt]="category.text">
        <span>{{model.name}}</span>
        <div class="video-bubble" (click)="openDialog()"><mat-icon>videocam</mat-icon></div>
        <div class="price-bubble">Цiна: {{model.price}}</div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="selectedModel.name">
    <app-calculator></app-calculator>
  </div>
</div>
