.category-images {
  margin: 25px auto;
  padding: 10px;
}
.models-grid {
  display: grid;
  gap: 25px;
  width: 90%;
  max-width: 1200px;
  margin: 25px auto;
  grid-template-columns: repeat(4, 1fr);
}
.model {
  position: relative;
  width: 100%;
  transition: transform 0.2s;
}
.model img {
  width: 100%;
}
.model:not(.selected):hover{
  transform: scale(1.03);
  cursor: pointer;
}
.selected {
  transform: scale(1.05);
  cursor: default;
}
.selected img {
  box-shadow: 0 0 12px 4px #1f1fdc;
}
.video-bubble {
  position: absolute;
  left: 10px;
  top: 10px;
  //height: 50px;
  width: 18%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  background: white;
  opacity: 0.5;
}
.video-bubble mat-icon {
  height: 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  width: 90dvw;
  max-width: 1000px;
  margin: 50px auto;
}
mat-divider {
  //height: 5px;
}
mat-form-field {
  width: 410px !important;
  margin-top: 22px;
}
.input-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.mat-column-res {
  width: 32px;
  text-align: right;
  justify-content: flex-end;
}
.res-values {
  width: 90%;
  margin: auto;
}
.span-wrapper {
  height: 78px;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-wrapper span {
  font-size: 16px;
  word-wrap: break-word;
  max-width: 100%;
}
.submit-button-wrapper {
  margin: 22px 0;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  .video-bubble mat-icon {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .span-wrapper span {
    max-width: 200px;
  }
  .video-bubble mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .input-field {
    flex-direction: column;
  }
  .span-wrapper {
    height: 2rem;
    margin: 10px 0;
  }
  mat-form-field {
    margin: 0 auto;
    width: 100% !important;
  }
  .span-wrapper span {
    max-width: 100%;
  }
  .video-bubble {
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
  }
  .video-bubble mat-icon {
    font-size: 15px;
  }
}
