<mat-table [dataSource]="elementData">
  <ng-container matColumnDef="pos">
    <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.pos}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Назва</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Ціна</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
