app-header {
  background: rgba(217, 217, 217, 0);
}
main {
  min-height: 80dvh;
}
footer {
  height: 100px;
  padding-top: 35px;
  color: white;
  background: #474747;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  margin: auto;
  text-align: center;
}
.cont {
  display: block;
  cursor: pointer;
}
