<div class="users" >
  <div class="users-table">
    <mat-table [dataSource]="employees" *ngIf="displayedColumns">
<!--      <ng-container matColumnDef="pos">-->
<!--        <mat-header-cell *matHeaderCellDef>№</mat-header-cell>-->
<!--        <mat-cell *matCellDef="let employee">{{employee.num}}</mat-cell>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="id">-->
<!--        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>-->
<!--        <mat-cell *matCellDef="let order">{{order.id}}</mat-cell>-->
<!--      </ng-container>-->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>Iм'я</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.firstName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Прiзвище</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.lastName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Пошта</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef>Телефон</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.phoneNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="registeredAt">
        <mat-header-cell *matHeaderCellDef>Зареєстровано</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.registeredAt}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [routerLink]="employee.id" routerLinkActive="selected" [ngStyle]="{cursor: 'pointer'}" *matRowDef="let employee; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <div class="no-employees" *ngIf="employees?.length === 0">
    <span>Ще немає працiвникiв</span>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
  <app-employee-registration></app-employee-registration>
</div>
