<div class="orders">
  <mat-form-field>
    <mat-label>Стан замовлення</mat-label>
    <mat-select [(value)]=selectedState (selectionChange)="onCheckStates()">
      <mat-option *ngFor="let state of states" [value]='state.name'>{{state.text}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="spinner-wrapper">
    <mat-spinner *ngIf="!displayedOrders"></mat-spinner>
  </div>
  <div class="orders-table" *ngIf="displayedOrders">
    <mat-table [dataSource]="displayedOrders">
      <ng-container matColumnDef="pos">
        <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
        <mat-cell [routerLink]="order.id" routerLinkActive="selected" *matCellDef="let order">{{order['num']}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.num}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Назва</mat-header-cell>
        <mat-cell [routerLink]="order.id" routerLinkActive="selected" *matCellDef="let order">{{order['coatModel'].name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Дата</mat-header-cell>
        <mat-cell [routerLink]="order.id" routerLinkActive="selected" *matCellDef="let order">{{order['createdAt']}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Ціна</mat-header-cell>
        <mat-cell [routerLink]="order.id" routerLinkActive="selected" *matCellDef="let order">{{order['coatModel']['price']}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngStyle]="{cursor: 'pointer'}" *matRowDef="let order; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <div class="no-orders">
    <span *ngIf="displayedOrders?.length === 0">Ще немає замовлень</span>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>
