<form [formGroup]="metricsForm" (ngSubmit)="calcFstForm()" *ngIf="formCreated">
  <div class="first-calc">
    <div class="input-fields" *ngFor="let inputField of inputMetrics">
      <div class="input-field">
        <div class="span-wrapper">
          <span>{{inputField.text}}</span>
        </div>
        <mat-form-field>
          <mat-label>{{inputField.text}}</mat-label>
          <input
            matInput
            [formControlName]="inputField.name"
            type="number"
            required
            [readonly]="!isEditable">
          <mat-error>Поле обов'язкове</mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="submit-button-wrapper" *ngIf="!isMetricsFormFilled && isEditable">
      <button mat-raised-button color="primary" type="submit" [disabled]="!isEditable">Далі</button>
    </div>
  </div>
</form>
<mat-divider *ngIf="isMetricsFormFilled"></mat-divider>
<form [formGroup]="increasesForm" (ngSubmit)="calcScndForm()">
  <div id="scndCalc" class="second-calc" *ngIf="isMetricsFormFilled">
    <div class="input-fields" *ngFor="let inputField of inputIncreases">
      <div class="input-field">
        <div class="span-wrapper">
          <span>{{inputField.text}}</span>
        </div>
        <mat-form-field>
          <mat-label>{{inputField.text}}</mat-label>
          <input matInput [formControlName]="inputField.name" type="number" required [readonly]="!isEditable">
          <mat-error>Поле обов'язкове</mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="submit-button-wrapper" *ngIf="isEditable">
      <button mat-raised-button color="primary" type="submit">Далі</button>
    </div>
  </div>
</form>
<div class="flex-center pattern-img">
  <img [src]="patternImgPath" alt="лекала">
</div>
<app-calc-res-fields></app-calc-res-fields>
