<div class="order-description">
  <div class="order-image">
    <img [src]="'data:image/png;base64, ' + order.coatModel.image" [alt]="order.coatModel" *ngIf="order">
  </div>
  <div class="status-changer">
    <button
      mat-raised-button
      *ngIf="order?.status === 'PENDING' && (user?.roles![0] === 'EMPLOYEE' || user?.roles![0] === 'ADMIN')"
      color="primary"
      (click)="onAssignOrder(order)"
    >
      <mat-icon>check</mat-icon>| <span>Прийняти замовлення</span>
    </button>
    <button
      mat-raised-button
      *ngIf="order?.status === 'IN_PROGRESS' && !user?.roles!.includes('CLIENT')"
      [ngStyle]="{background: 'green', color: 'white'}"
      (click)="onFinishOrder(order)"
    >
      <mat-icon>done_all</mat-icon>|Завершити замовлення
    </button>
    <button
      mat-raised-button
      *ngIf="(order?.status === 'PENDING' || order?.status === 'IN_PROGRESS') && user?.roles!.includes('CLIENT')"
      color="warn"
      (click)="onCancelOrder(order)"
    >
      <mat-icon>close</mat-icon>| <span>Скасувати замовлення</span>
    </button>
    <mat-card *ngIf="user.roles?.includes('CLIENT')" [ngStyle]="{fontFamily: 'Inter, sans-serif',padding: '15px', color: 'white', backgroundColor: order?.status === 'CANCELLED' ? '#f44336' : order?.status === 'COMPLETED' ? 'green' : '#3f51b5'}">
      Замовлення {{order?.status === 'COMPLETED' ? 'завершено' : order?.status === 'CANCELLED' ? 'скасовано' : 'виготовляється'}}
    </mat-card>
  </div>
</div>
<app-calculator [isEditable]="false"></app-calculator>
